<html>
    <head>
        <title>Index Consulta</title>
        
        <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" />
        <script type="text/javascript" src="{{STATIC_URL}}jquery/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Title Index Consulta</h1>

            <div class="row">
                <form class="form-horizontal pull-left" role="form">
                    <div class="form-group has-success has-feedback">
                        <label class="control-label col-sm-5" for="inputSuccess2">Input with success</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="inputSuccess2">
                            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group has-warning has-feedback">
                        <label class="control-label col-sm-5" for="inputWarning2">Input with warning</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="inputWarning2">
                            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group has-error has-feedback">
                        <label class="control-label col-sm-5" for="inputError2">Input with error</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="inputError2">
                            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                    </div>
                    <p>
                        <a type="button" class="btn btn-primary btn-lg" href="http://google.com" role="button">Go google</a>
                        <a type="button" class="btn btn-default btn-lg" href="http://globo.com" role="button">Go globo</a>
                    </p>
                </form>
            </div> 

            <div class="row center-block">
                <p>Footer</p>
            </div>
        </div>
    </body>
</html>
